#sidebarContainer::-webkit-scrollbar{
	width: 10px;
}

#sidebarContainer::-webkit-scrollbar-track {
	background-color: #c0392b;
}

#sidebarContainer::-webkit-scrollbar-thumb {
	background-color: #ecf0f1;
}

#articleContainer::-webkit-scrollbar{
	width: 10px;
}

#articleContainer::-webkit-scrollbar-track {
	background-color: #c0392b;
}

#articleContainer::-webkit-scrollbar-thumb {
	background-color: #2c3e50;
}

#mainGrid {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
	grid-template-rows: auto minmax(0, 1fr);
	grid-template-areas:
		"sidebar subscribe"
		"sidebar article";
	background-color: #ecf0f1;
	height: calc(100% - 140px);
}

#sidebarContainer::-webkit-scrollbar {
	width: 10px;
}

#submitFormContainer {
	background-color: #2c3e50;
	border: 5px solid #c0392b;
	border-left: 1px solid #c0392b;
	border-bottom: 1px solid #c0392b;
	border-right: 11px solid #c0392b;
	padding: 11px;
	padding-top: 0;
	color: white;

	text-align: center;
}

#sidebarContainer {
	grid-area: sidebar;

	display: flex;
	flex-direction: column;

	background-color: #2c3e50;
	border: 5px solid #c0392b;
	border-right: 1px solid #c0392b;

	overflow-y: scroll;
	overflow-x: hidden;

	min-height: 0;
	min-width: 0;
}

.sidebarCategory {
	margin: 0;
	padding: 0;
	margin-left: 11px;
	margin-top: 11px;
	margin-right: 11px;

	color: #ecf0f1;

	list-style-type: none;

	font-size: 1.25em;
}

.sidebarLink {
	cursor: pointer;
	margin-left: 31px;
	margin-top: 7px;

	font-size: 0.85em;
	text-decoration: underline;
}

#articleContainer {
	grid-area: article;
	background-color: #ecf0f1;

	border: 5px solid #c0392b;
	border-left: none;
	border-right: 1px solid #c0392b;
	border-top: none;

	overflow-y: scroll;
	overflow-x: hidden;

	min-height: 0;
}

#defaultBlog {
	position: absolute;
	visibility: hidden;
}

#blogPost {
	visibility: visible;
}

#artTitle {
	margin: 0;
	padding: 0;
	margin-left: 21px;
	margin-top: 11px;
}

#artAuthor {
	margin: 0;
	padding: 0;
	margin-left: 51px;
}

#artContent{
	margin-left: 21px;
	margin-right: 21px;
}