main {
	background: #c0392b;
}

#mainMain {
	display: flex;
	align-items: center;
  justify-content: center;
	height: 100%;
}

#mainLeft {
	display: flex;
	align-items: center;
  justify-content: space-around;
	flex-direction: column;

	float: left;
	width: 50%;
	height: 100%;
	text-align: center;

	position: relative;

	overflow: hidden;

	background: black;

	border: 5px solid #c0392b;
	box-sizing: border-box;
}

#picBG {
	display: block;
	background-image: url(A.jpg);
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(5px);
}

#mainLeft img {
	display: block;
	box-sizing: border-box;
	border: 5px solid #ecf0f1;
	padding: 0;
	margin: 0;
	width: 75%;

	position: relative;
}

.caption {
	color: white;
	font-size: 24px;
}
	

.picSelect {
	display: inline-block;
	height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
}

.picSelectors, .picSelect, .caption {
	z-index: 1;
}

#mainLeft .fas {
	position: relative;
}
#mainRight {
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: column;

	float: right;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	border-left: 1px solid #ecf0f1;
	text-align: center;
	padding: 10px;
}

#mainRight p {
	color: #ecf0f1;
}

#mainRight hr {
	width: 100%;
}