main {
	background: #c0392b;
}

#mainMain {
	display: flex;
	align-items: center;
  justify-content: center;
	height: 100%;
}

#mainLeft {
	display: flex;
	align-items: center;
  justify-content: center;

	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
}

#mainLeft img {
	box-sizing: border-box;
	width: 70%;
}

#mainRight {
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: column;

	float: right;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	border-left: 1px solid #ecf0f1;
	text-align: center;
	padding: 10px;
}

#mainRight p {
	color: #ecf0f1;
}

#mainRight hr {
	width: 100%;
}