body {
	margin: 0;
	padding: 0;
}

.navMenu {
  overflow: hidden;
  position: fixed;
  top: 0;

  padding: 0;
  margin: 0;
  width: 100vw;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
	
	background: white;
}

.navItem {
  width: 15%;
  text-align: center;
  list-style-type: none;
}


.navLink {
	display: block;
	line-height: 50px;
	width: 100%;

	text-decoration: none;
	text-align: middle;
	font-size: 200%;
	
	border-bottom: 5px solid tranparent;
	
}

.navLink.navActive {
	color: blue;
	border-bottom: 5px solid blue;
}

.navItem:hover .navLink {
	color: red;
	border-bottom: 5px solid red;
}

.navItem:hover .navLink.navActive{
	color: blue;
	border-bottom: 5px solid blue;
}

#navBuffer {
	margin-top: 55px;
}
