html, body{
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #ecf0f1;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

body > * {
	flex: 0 0 auto;
}

main {
	flex-grow: 1;
}

.navMenu {
  overflow: hidden;
  position: fixed;
  top: 0;

  padding: 0;
  margin: 0;
  width: 100vw;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
	
	background: #ecf0f1;

	border-bottom: 5px solid transparent;
	z-index: 99;
}

.navItem {
  width: 15%;
  text-align: center;
  list-style-type: none;
}


.navLink {
	display: block;
	line-height: 50px;
	width: 100%;

	text-decoration: none;
	text-align: middle;
	font-size: 200%;
	
	border-bottom: 5px solid tranparent;

	color: #2c3e50;
	
}

.navLink.navActive {
	border-bottom: 5px solid #2c3e50;
}

.navItem:hover .navLink {
	color: #c0392b;
}

.navItem:hover .navLink.navActive{
	color: #2c3e50;
}

#navBuffer {
	margin-top: 60px;
}
